<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sach bai bao</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="conainer">
        <div class="">
            <h1>Danh sach  bai bao</h1>
            <a href="/create">Them san pham</a>
        </div>

        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>ISBN</th>
                        <th>Name</th>
                        <th>Publisher</th>
                        <th>Publish Year</th>
                        <th>Pages</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each papers}}
                     <tr>
                        <td>{{isbn}}</td>
                        <td>{{name}}</td>
                        <td>{{publisher}}</td>
                        <td>{{publishYear}}</td>
                        <td>{{pages}}</td>
                        <td>
                            <img src="{{imageUrl}}" alt="{{name}}" style="width: 50px; height: 50px; object-fit: cover;">
                        </td>
                        <td>
                            <form action="/delete/{{isbn}}" method="post">
                            <button class="btn btn-danger" type="submit">delete</button></form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>